.main-header{
   position: fixed;
   width: 100%;
   height: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: linear-gradient(180deg, black, transparent);
   padding-inline: max(2.5%, 15px);
   padding-top: 10px;
   z-index: 10;
   backdrop-filter: blur(5px);
}

.main-header .logo-section{
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-weight: bold;
   font-size: 1.2rem;
   font-family: "Grandstander", sans-serif;
}

.main-header .logo-section .logo-box{
   width: 75px;
   height: auto;
   margin-right: 5px;
}

.main-header .logo-section .logo-box>img{
   width: 100%;
   height: fit-content;
}

.main-header .nav{
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   padding-top: 10px;
}

.main-header .nav>a{
   padding-inline: 10px;
   color: var(--text-white);
   font-family: "Grandstander", sans-serif;
}

.main-header .nav>a:hover{
   color: var(--secondary-color);
}

.main-header .hamburger-icon{
   display: none;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
}


@media screen and (max-width: 950px) {
   .main-header{
      overflow: visible;
   }

   .main-header .hamburger-icon{
      display: flex;
   }
   
   .main-header .nav{
      position: absolute;
      top: 65px;
      right: 0;
      width: min(320px, 100%);
      min-height: 100dvh;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 20px;
      background: rgba(0, 0, 0, 0.7);
      /* backdrop-filter: blur(5px); */
      padding-inline: 15px;
      translate: 100% 0%;
      transition: 0.3s;
   }

   .main-header .nav-open{
      translate: 0% 0%;
   }
   
   .main-header .nav>a{
      font-size: 1.1rem;
      width: 100%;
      text-align: center;
      margin-block: 2.5px;
      padding-block: 15px;
      border-bottom: 1px dashed white;
   }

   .main-header .nav>a:last-child{
      border-bottom: none;
   }
}