.about-section .main-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.about-section .main-content>*{
   width: 47%;
}

.about-section .main-content .image-section{
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-section .main-content .image-section>img{
   width: 100%;
   height: fit-content;
   aspect-ratio: 1 / 0.9;
   object-fit: cover;
}


@media screen and (max-width: 1000px) {
   .about-section .main-content>*{
      width: 100%;
   }

   .about-section .main-content .image-section{
      margin-bottom: 30px;
   }
}