.main-section .objectives-section {
    width: 100%;
    background-color: #f8f8f8;
  }
  
  .heading {
    font-size: clamp(1.6rem, 1.5vw + 1.5rem, 2.8rem);
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-color);
  }
  
  .contact-details {
    margin-bottom: 40px;
  }
 
  .contact-details h4 {
    font-size: 1.2rem;
    word-spacing: 0.2rem;
    margin-bottom: 15px;
    color: black;
  }

  .contact-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    flex-wrap: nowrap;
    gap: 100px; 
  }
  
  .contact-box {
    flex-basis: 30%;
    flex-grow: 1; 
    max-width: 30%; 
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 1s ease;
  }
  
  .contact-box i {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  
  .contact-boxes .contact-box p {
    font-size: 0.6rem;
    font-weight: bold;
    color: #333;
  }
  
  .contact-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  .contact-boxes .contact-box .phone-num{
    line-height: 15px;
  }
  
  .contact-details p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form-section {
    display: flex;
    height: 600px;
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    background-color: #fff;
  }

  .left-side {
    flex: 1;
    padding: 20px;
    text-align: center;
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .company-image {
    width: 80%;
    height: auto;
    animation: fadeIn 2s;
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
    border-radius: 10px;
    margin-top: -10px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
  }

  .social-icons i {
    font-size: 2rem;
    color: #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .social-icons a {
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons i:hover {
    transform: scale(0.8);
  }

  .right-side {
    flex: 1;
    padding: 20px;
    background: linear-gradient(90deg, var(--primary-color), var(--dark-green));
    border-radius: 10px;
  }

  .right-side h3 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .right-side p {
    font-size: 0.9rem;
    color: white;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .right-side form {
    margin-top: 20px;
  }

  .right-side input, .right-side textarea {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 30px;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 0.8rem;
    color: white;
    transition: border-color 0.3s ease;
  }

  .right-side input:focus, .right-side textarea:focus {
  outline: none;
  border-bottom: 2px solid white;
}

  .right-side textarea {
    height: 80px;
    resize: vertical;
  }

  .right-side ::placeholder  {
    color: rgb(218, 218, 218);
  }

  .submit-btn {
    width: 40%;
    background-color: black;
    color: rgb(85, 239, 3);
    font-family: Rubik, sans-serif;
    font-weight: 700;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-left: 180px;
    margin-top: 50px;
    padding: 12px 20px;
    border-color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .submit-btn:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    transform: scale(0.9);
  }

  .modal {
    position: fixed;
    z-index: 1000;  /*1000 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  @media screen and (max-width: 768px) {
    .contact-form-section {
      flex-direction: column;
      align-items: center;
    }

    .left-side, .right-side {
      width: 100%;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .contact-box {
      width: 100%;
      margin-bottom: 20px;
    }
  }