@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Color Variables */
:root {   
   --primary-color: #2e3092;
   --secondary-color: #00aeef;
   --light-green: #55ef03;
   --dark-green: #3bbc09;
   --main-red: #ed1c24;
   --light-orange: #ffcb04;
   --dark-orange: #f5831f;

   --background-white: #fcfcfc;
   --text-black: #1f1f1f;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Poppins", sans-serif;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: var(--background-white);
}